{% set transaction = commerce_webform_order_demo_transaction(_context) %}

{% if transaction.purchased or transaction.order %}
  <div class="commerce-webform-order-demo-summary">
  {% if transaction.purchased %}
    <h3>Purchased</h3>
    <table>
      <tr>
        <th>Product</th>
        <th>Cost</th>
        <th>Save</th>
        <th>Discount</th>
      </tr>
    {% for name, product in transaction.purchased %}
      <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.base|dollars }}</td>
        <td>{{ product.discount|dollars }}</td>
        <td>{{ product.final|dollars }}</td>
      </tr>
    {% endfor %}
      <tr class="commerce-webform-order-demo-summary--total">
        <td>
          <strong>Paid</strong>
            {% if transaction.coupon %}
            ({{ transaction.coupon.code }} = {{ transaction.coupon.percent }})
            {% endif %}
        </td>
        <td>{{ transaction.amount.paid.base|dollars }}</td>
        <td>{{ transaction.amount.paid.discount|dollars }}</td>
        <td><strong>{{ transaction.amount.paid.final|dollars }}</strong></td>
      </tr>
    </table>
  {% endif %}

  {% if transaction.order %}
    <h3>Order</h3>
    <table>
      <tr>
        <th>Product</th>
        <th>Cost</th>
        <th>Save</th>
        <th>Discount</th>
      </tr>
    {% for name, product in transaction.order %}
      <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.base|dollars }}</td>
        <td>{{ product.discount|dollars }}</td>
        <td>{{ product.final|dollars }}</td>
      </tr>
    {% endfor %}
      <tr class="commerce-webform-order-demo-summary--total">
        <td>
          <strong>Due</strong>
            {% if transaction.coupon %}
            ({{ transaction.coupon.code }} = {{ transaction.coupon.percent }})
            {% endif %}
        </td>
        <td>{{ transaction.amount.due.base|dollars }}</td>
        <td>{{ transaction.amount.due.discount|dollars }}</td>
        <td><strong>{{ transaction.amount.due.final|dollars }}</strong></td>
      </tr>
    </table>
  {% endif %}
  </div>
{% else %}
  <address>Please select the products you want purchase.</address>
{% endif %}

